.about {
  padding-top: 31px;
  padding-bottom: 58px;

  .container {
    @media (min-width: $desktop-width) {
      padding-left: 225px;
    }
  }
}

.about__title {
  margin-bottom: 28px;
}

.about__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  padding-top: 83px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $font-color-dark;

  &:first-child {
    padding-top: 54px;
  }

  &--materials {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--style {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--likes {
    @media (min-width: $tablet-width) {
      order: 5;
    }
  }

  &--handmade {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--manufacture {
    @media (min-width: $tablet-width) {
      order: 4;
    }
  }

  &--package {
    @media (min-width: $tablet-width) {
      order: 6;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

// .about__item--materials {}

// .about__item--style {}

// .about__item--likes {}

// .about__item--handmade {}

// .about__item--manufacture {}

// .about__item--package {}
