.about {
  padding-top: 31px;
  padding-bottom: 58px;
}

.about__title {
  margin-bottom: 28px;
}

.about__list {
  @include list-reset;
}

.about__item {
  padding-top: 83px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $font-color-dark;

  &:first-child {
    padding-top: 54px;
  }
}

.about__item--materials {}

.about__item--style {}

.about__item--likes {}

.about__item--handmade {}

.about__item--manufacture {}

.about__item--package {}
