.cards {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 122px;
    padding-bottom: 57px;
  }
}

.cards__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 51px;
  }
}

.cards__item {
  margin-bottom: 30px;

  &:nth-child(2) {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
