.cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cards__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 51px;
  }
}

.cards__item {
  margin-bottom: 30px;

  &:nth-child(2) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
