.card {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.card__details {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 100%;
  padding-top: 27px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid #ececec;

  &--cart {
    padding-top: 24px;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-top: 27px;
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 197px;
    padding-left: 27px;
  }
}

.card__item-link {
  text-decoration: none;

  &--title {
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      margin-bottom: 7px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 6px;
    }
  }

  &--img {
    order: 1;

    @media (min-width: $tablet-width) {
      width: 50%;
      min-height: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      min-height: 462px;
    }
  }
}

.card__item-title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  color: $font-color-dark;

  &--underwear {
    @media (min-width: $tablet-width) {
      margin-bottom: 2px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--cart {
    margin-bottom: 3px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.card__item-img {
  margin-bottom: 0;
}

.card__item-details {
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    margin-bottom: auto;
  }

  // @media (min-width: $desktop-width) {
  //   margin-bottom: 36px;
  // }
}

.card__item-inner {
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    padding-right: 5px;
  }
}

.card__item-price {
  color: $font-color-dark;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

// .card__item-count {}

.card__item-btn {
  transform: translateX(1px);
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;

  & svg {
    fill: rgba($dark-color, 0.2);
  }

  &:focus {
    outline: none;
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &:hover {
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &:active {
    color: rgba($font-color-dark, 0.3);

    & svg {
      fill: rgba($font-color-alternative, 0.3);
    }
  }
}
