.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;

  // @media (min-width: $tablet-width) {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(2, auto);
  //   grid-column-gap: 33px;
  // }

  // @media (min-width: $desktop-width) {
  //   display: flex;
  //   flex-direction: column;
  // }
}

.card__details {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 100%;
  padding-left: 28px;
  padding-right: 28px;
}

.card__item-link {
  text-decoration: none;

  &--title {
    margin-bottom: 6px;
    // @media (min-width: $tablet-width) {
    //   grid-area: 1 / 2 / 2 / 3;
    // }
  }

  &--img {
    order: 1;
    margin-bottom: 27px;

    // @media (min-width: $tablet-width) {
    //   grid-area: 1 / 1 / 4 / 2;
    // }
  }

  &--img-cart {
    margin-bottom: 24px;
  }
}

.card__item-title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  color: $font-color-dark;

  &--cart {
    margin-bottom: 3px;
  }
}

.card__item-img {
  margin-bottom: 0;
}

.card__item-details {
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 30px;

  // @media (min-width: $tablet-width) {
  //   grid-area: 2 / 2 / 3 / 3;
  //   margin: 0;
  // }
}

.card__item-inner {
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;

  // @media (min-width: $tablet-width) {
  //   grid-area: 3 / 2 / 4 / 3;
  //   align-self: end;
  //   padding: 0;
  // }

  // @media (min-width: $desktop-width) {
  //   align-self: start;
  // }
}

.card__item-price {
  color: $font-color-dark;
}

// .card__item-count {}

.card__item-btn {
  transform: translateX(1px);
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;

  & svg {
    fill: rgba($dark-color, 0.2);
  }

  &:focus {
    outline: none;
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &:hover {
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &:active {
    color: rgba($font-color-dark, 0.3);

    & svg {
      fill: rgba($font-color-alternative, 0.3);
    }
  }
}
