// .cart {}

// .cart__container {}

.cart__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $font-color-dark;
  text-transform: uppercase;
}

// .cart__form {}
