.catalog {
  padding-bottom: 58px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  & .container {
    background-color: $bg-color;

    @media (min-width: $tablet-width) {
      padding-bottom: 64px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 103px;
    }
  }
}
