.contacts {
  padding-top: 30px;
  padding-bottom: 39px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 104px;
  }
}

.contacts .container {
  width: 100%;
  padding: 0;

  &::before {
    display: none;
    position: absolute;
    content: "";
    width: 47px;
    height: 81px;
    background-image: url("../../img/svg/flag.svg");

    @media (min-width: $tablet-width) {
      display: block;
      top: 0;
      right: 54px;
      transform: translateY(-20px);
    }

    @media (min-width: $desktop-width) {
      left: 113px;
      top: 61px;
      transform: translateY(0);
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding-right: 50px;
    padding-left: 225px;
    display: grid;
    grid-template-columns: auto 527px;
    grid-template-rows: minmax(136px, auto) auto auto;
    grid-column-gap: 23px;
  }
}

.contacts__title {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    padding-top: 78px;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.contacts__detail-list {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 63px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin-bottom: 49px;
    display: grid;
    grid-column-gap: 25px;
    font-size: 17px;
    grid-template-columns: 308px 334px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 0;
    padding-top: 34px;
  }
}

.contacts__detail-group {
  display: flex;
  flex-wrap: wrap;

  &:first-child {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 2px;
    }
  }
}

.contacts__detail-name {
  margin: 0;
  margin-right: auto;
  padding: 0;
  max-width: 80px;

  @media (min-width: $desktop-width) {
    max-width: 78px;
    padding-right: 5px;
  }
}

.contacts__detail-value {
  margin: 0;
  padding: 0;
  width: 183px;

  &--email {
    @media (min-width: $tablet-width) {
      width: auto;
      padding-right: 26px;
    }

    @media (min-width: $desktop-width) {
      width: 249px;
      padding-right: 0;
    }
  }

  &--adress {
    @media (min-width: $tablet-width) {
      width: auto;
      max-width: 257px;
    }

    @media (min-width: $desktop-width) {
      width: 249px;
    }
  }
}

.contacts__detail-email {
  text-decoration: none;
  color: $font-color-main;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(3px);
    background-color: #62d1ba;

    @media (min-width: $desktop-width) {
      transform: translateY(9px);
    }
  }

  &:focus {
    color: #46c1ae;
    outline: none;

    &::after {
      background-color: #46c1ae;
    }
  }

  &:hover {
    color: #46c1ae;

    &::after {
      background-color: #46c1ae;
    }
  }

  &:active {
    color: #62d1ba;

    &::after {
      background-color: transparent;
    }
  }
}

.contacts__inner {
  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 4 / 3;
  }
}

.contacts__img {
  display: none;
  margin: 0 auto;
  width: 100%;

  &--show {
    display: block;
    height: 457px;

    @media (min-width: $desktop-width) {
      width: 527px;
      height: 457px;
    }
  }
}

.contacts__btn {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-top: 51px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 3 / 1 / 4 / 2;
    // align-self: stretch;
    margin: 0;
    margin-top: auto;
  }
}
