.heading {
  padding-top: 73px;
  padding-bottom: 74px;
  background-color: #f1f1f1;

  &--index {
    background-image: url("../../img/hero-mobile@2x.png");
  }
}

.heading__title {
  margin: 0;
  margin-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
