.heading {
  background-color: $bg-color-light;

  &--index {
    padding-top: 72px;
    min-height: 489px;
    background-image: url("../../img/hero-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: 50% -17px;

    @media (min-width: $tablet-width) {
      background-position: 0 0;
      padding-top: 153px;
      min-height: 746px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 157px;
    }
  }

  &--catalog {
    padding-top: 72px;
    min-height: 177px;
    position: relative;

    & svg {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 24px;
        z-index: 3;
        color: $bg-color;
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 98px;
      min-height: 226px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 100px;
      min-height: 255px;
    }
  }

  &--order {
    padding-top: 72px;
    min-height: 177px;
    position: relative;

    & svg {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 24px;
        z-index: 3;
        color: $bg-color;
      }
    }

    // @media (min-width: $tablet-width) {
    //   padding-top: 98px;
    //   min-height: 226px;
    // }

    // @media (min-width: $desktop-width) {
    //   padding-top: 100px;
    //   min-height: 255px;
    // }
  }
}

.heading__title {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $font-color-dark;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
