.heading {
  background-color: $bg-color-light;

  &--index {
    padding-top: 72px;
    min-height: 283px;
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-color: #fafafa;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% -17px;

    @media (min-resolution: 2dppx) {
      background-size: 320px auto;
      background-image: url("../../img/hero-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../img/hero-tablet@1x.jpg");
      background-position: 50% -57px;
      padding-top: 98px;
      min-height: 571px;

      @media (min-resolution: 2dppx) {
        background-size: 768px auto;
        background-image: url("../../img/hero-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-position: 50% -45px;
      padding-top: 113px;
      min-height: 582px;
      background-image: url("../../img/hero-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-size: 1150px auto;
        background-image: url("../../img/hero-desktop@2x.jpg");
      }
    }
  }

  &--catalog {
    padding-top: 72px;
    min-height: 177px;
    position: relative;

    &::after {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 24px;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(11px);
        z-index: 4;
        background-image: url("../../img/svg/zigzag-fill-tablet.svg");
      }

      @media (min-width: $desktop-width) {
        height: 34px;
        background-image: url("../../img/svg/zigzag-fill-desktop.svg");
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 43px;
      min-height: 170px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 57px;
      min-height: 216px;
    }
  }

  &--order {
    padding-top: 72px;
    min-height: 177px;
    position: relative;

    &::after {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 24px;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(11px);
        z-index: 4;
        background-image: url("../../img/svg/zigzag-fill-tablet.svg");
      }

      @media (min-width: $desktop-width) {
        height: 34px;
        background-image: url("../../img/svg/zigzag-fill-desktop.svg");
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 43px;
      min-height: 171px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 57px;
      min-height: 217px;
    }
  }
}

.heading__title {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $font-color-dark;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
