.navigation {
  width: 320px;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }
}

.navigation__container {
  display: none;
  flex-direction: column;
  box-shadow: 0 1px 0 0 #ececec inset;
  position: absolute;
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: auto;
    position: static;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}

.navigation__wrapper {
  min-height: 88px;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }

  &--user {
    width: 320px;
    margin: 0 auto;
    order: 2;
    background-color: $bg-color;

    @media (min-width: $tablet-width) {
      width: auto;
      min-height: 88px;
      margin: 0;
      grid-area: 1 / 1 / 2 / 3;
      border-bottom: 1px solid rgba($dark-color, 0.1);
    }

    @media (min-width: $desktop-width) {
      grid-area: 1 / 2 / 2 / 3;
    }
  }

  &--site {
    width: 320px;
    margin: 0 auto;
    order: 1;
    background-color: $bg-color;

    @media (min-width: $tablet-width) {
      width: auto;
      margin: 0;
      min-height: auto;
      grid-area: 2 / 1 / 3 / 2;
      background-color: transparent;
    }

    @media (min-width: $desktop-width) {
      grid-area: 1 / 1 / 2 / 2;
      background-color: $bg-color;
      border-bottom: 1px solid rgba($dark-color, 0.1);
    }
  }

  &--note {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      min-height: auto;
      grid-area: 2 / 2 / 3 / 3;
      padding-top: 20px;
      padding-right: 2px;
    }

    @media (min-width: $desktop-width) {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  &--links {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      grid-area: 2 / 1 / 3 / 2;
    }
  }
}

.navigation__list {
  @include list-reset;

  &--user {
    min-height: 88px;

    @media (min-width: $tablet-width) {
      width: 348px;
      margin-left: auto;
      margin-right: 50px;
      display: flex;
      justify-content: flex-end;
    }
  }

  &--site {
    min-height: 88px;

    @media (min-width: $tablet-width) {
      display: flex;
      width: 334px;
      min-height: auto;
      margin-left: 50px;
      padding-top: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 405px;
      padding-top: 0;
    }
  }

  &--links {
    @media (min-width: $desktop-width) {
      margin-left: 50px;
    }
  }
}

.navigation__note {
  @media (min-width: $tablet-width) {
    width: 334px;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 400;
  }
}

.navigation__item {
  min-height: 79px;
  box-shadow: 0 -1px 0 0 #ececec inset;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    min-height: auto;
  }
}

.navigation__toggle {
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 31px;
  transform: translateY(-47px);
  background-color: transparent;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:focus {
    outline: none;

    & .navigation__toggle-icon {
      color: #63d1bb;
    }
  }

  &:hover {
    & .navigation__toggle-icon {
      color: #63d1bb;
    }
  }

  &:active {
    & .navigation__toggle-icon {
      color: rgba(#63d1bb, 0.3);
    }
  }
}

.navigation__toggle-icon {
  &--open {
    width: 20px;
    height: 14px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &--close {
    width: 21px;
    height: 20px;
    position: absolute;
    top: -3px;
    right: -1px;
  }

  &--hide {
    display: none;
  }
}

.navigation__container--open {
  display: flex;
}

.navigation__link {
  font-weight: 700;
  text-decoration: none;
  color: $font-color-dark;

  & svg {
    fill: rgba($dark-color, 0.2);
  }

  &[href]:focus {
    outline: none;
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &[href]:hover {
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &[href]:active {
    color: rgba($font-color-dark, 0.3);

    & svg {
      fill: rgba($font-color-alternative, 0.3);
    }
  }
}

.navigation__inner {
  @media (min-width: $desktop-width) {
    margin-left: 50px;
    padding-top: 19px;
    display: flex;
  }
}

.navigation__inner .navigation__link {
  @media (min-width: $desktop-width) {
    font-size: 15px;
    max-width: 50%;
    margin-right: 63px;
  }
}
