.navigation {
  position: absolute;
  width: 320px;
  top: 79px;
  z-index: 2;
  background-color: $bg-color;
  box-shadow: 0 1px 0 0 #ececec inset;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
    background-color: transparent;
    box-shadow: none;
    position: static;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
  }
}

.navigation__list {
  @include list-reset;

  &--user {
    @media (min-width: $tablet-width) {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
    }

    @media (min-width: $desktop-width) {
      grid-area: 1 / 2 / 2 / 3;
    }
  }

  &--site {
    @media (min-width: $tablet-width) {
      grid-area: 2 / 1 / 3 / 2;
      // position: absolute;
      // top: 90px;
      // left: 50px;
      display: inline-flex;
      justify-content: space-between;
      padding-top: 20px;
    }

    @media (min-width: $desktop-width) {
      grid-area: 1 / 1 / 2 / 2;
      position: relative;
      top: 0;
      padding-top: 0;
      justify-content: start;
    }
  }
}

.navigation__item {
  box-shadow: 0 -1px 0 0 #ececec inset;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.navigation__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: repeat(2, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 700px auto;
  }
}

.navigation__toggle {
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -47px;
  right: 31px;
  background-color: transparent;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:focus {
    outline: none;

    & .navigation__toggle-icon {
      color: #63d1bb;
    }
  }

  &:hover {
    & .navigation__toggle-icon {
      color: #63d1bb;
    }
  }

  &:active {
    & .navigation__toggle-icon {
      color: rgba(#63d1bb, 0.3);
    }
  }
}

.navigation__toggle-icon {
  &--open {
    width: 20px;
    height: 14px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &--close {
    width: 21px;
    height: 20px;
    position: absolute;
    top: -3px;
    right: -1px;
  }

  &--hide {
    display: none;
  }
}

.navigation--opened .navigation__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: repeat(2, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 700px auto;
  }
}

.navigation__inner {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
}

.navigation__inner .navigation__link {
  @media (min-width: $desktop-width) {
    margin-right: 58px;
  }
}

.navigation__link {
  font-weight: 700;
  text-decoration: none;
  color: $font-color-dark;

  & svg {
    fill: rgba($dark-color, 0.2);
  }

  &[href]:focus {
    outline: none;
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &[href]:hover {
    color: rgba($font-color-dark, 0.6);

    & svg {
      fill: $font-color-alternative;
    }
  }

  &[href]:active {
    color: rgba($font-color-dark, 0.3);

    & svg {
      fill: rgba($font-color-alternative, 0.3);
    }
  }
}

.navigation__note {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-area: 2 / 2 / 3 / 3;
    justify-self: end;
    align-self: center;
    font-size: 15px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2 / 2 / 3 / 3;
  }
}
