.order-form__group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;

  &--type {
    padding-bottom: 23px;
  }

  &--color {
    padding-bottom: 10px;

    // @media (min-width: $tablet-width) {
    //   display: grid;
    //   grid-template-columns: repeat(2, auto);
    // }

    // @media (min-width: $desktop-width) {
    //   grid-template-columns: repeat(3, auto);
    // }
  }

  &--full-name {
    padding-bottom: 11px;
  }

  &--phone {
    padding-bottom: 14px;
  }

  &--email {
    padding-bottom: 13px;
  }

  // @media (min-width: $tablet-width) {
  //   padding-left: 167px;
  // }
}

.order-form__group-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $font-color-alternative;
  text-transform: uppercase;
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &--type {
    margin-bottom: 32px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--full-name {
    margin-bottom: 28px;
  }

  &--phone {
    margin-bottom: 4px;
  }

  &--email {
    margin-bottom: 4px;

    &::after {
      width: 182px;
    }
  }

  &--addition {
    margin-bottom: 22px;
  }

  // @media (min-width: $tablet-width) {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}

.order-form__wrapper {
  margin: 0;

  &--type {
    margin-bottom: 9px;
  }

  &--color {
    margin-bottom: 23px;
  }
}

.order-form__label {
  display: flex;
  align-items: center;
  padding-left: 60px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $font-color-dark;
  position: relative;

  &--radio {
    min-height: 42px;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 2px solid $bg-color-dark;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 17px;
      height: 17px;
      top: 11px;
      left: 12px;
      border-radius: 50%;
      background-color: #62d1ba;
    }

    &:hover {
      &::before {
        border: 2px solid #62d1ba;
      }
    }
  }

  &--checkbox {
    min-height: 38px;

    &::before {
      position: absolute;
      content: "";
      width: 37px;
      height: 37px;
      top: 0;
      left: 0;
      border: 2px solid $bg-color-dark;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 23px;
      height: 16px;
      top: 10px;
      left: 8px;
      background-image: url("../../img/svg/tick.svg");
    }

    &:hover {
      &::before {
        border: 2px solid #62d1ba;
      }
    }
  }

  &--full-name {
    padding-left: 0;
  }
}

.order-form__input-radio {
  &[type=radio]:checked+.order-form__label--radio {
    &::after {
      display: block;
    }
  }

  &[type=radio]:focus+.order-form__label--radio {
    &::before {
      border: 2px solid #62d1ba;
    }
  }

  &[type=radio]:active+.order-form__label--radio {
    &::before {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.order-form__input-checkbox {
  &[type=checkbox]:checked+.order-form__label--checkbox {
    &::after {
      display: block;
    }
  }

  &[type=checkbox]:focus+.order-form__label--checkbox {
    &::before {
      border: 2px solid #62d1ba;
    }
  }

  &[type=checkbox]:active+.order-form__label--checkbox {
    &::before {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }
  }
}

.order-form__inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 22px;
  position: relative;

  &--addition {
    margin-bottom: 12px;
  }

  // @media (min-width: $tablet-width) {
  //   flex-direction: row;
  // }
}

.order-form__input-text {
  min-height: 52px;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  padding: 0;
  padding-right: 10px;
  font-size: 17px;
  line-height: 18px;
  color: $font-color-main;
  background-color: transparent;

  &::placeholder {
    font-size: inherit;
    line-height: inherit;
    color: rgba($font-color-dark, 0.3);
  }

  &--message {
    width: 100%;
    min-height: 142px;
    padding: 16px;
    border: 2px solid $bg-color-dark;
    box-shadow: none;
    resize: none;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 #62d1ba;
    background: rgba(0, 0, 0, 0.0001);

    &+svg {
      color: #62D1BA;
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: inset 0 -2px 0 #62d1ba;
    background: rgba(0, 0, 0, 0.0001);

    &+svg {
      color: #62D1BA;
      opacity: 1;
    }
  }

  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;

    &+svg {
      color: #62D1BA;
      opacity: 1;
    }
  }
}

.order-form__input-icon {
  position: absolute;
  opacity: 0.2;
  z-index: -1;

  &--phone {
    top: 11px;
    right: 7px;
    width: 25px;
    height: 24px;
  }

  &--email {
    top: 16px;
    right: 3px;
    width: 32px;
    height: 21px;
  }
}

.order-form__note {
  display: inline-block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;

  // @media (min-width: $tablet-width) {
  //   order: 2;
  // }
}

.order-form__btn {
  width: 260px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 15px;
  padding-top: 16px;
  padding-bottom: 16px;

  // @media (min-width: $tablet-width) {
  //   order: 1;
  // }
}
