.order-form__group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;

  &--type {
    padding-bottom: 19px;

    @media (min-width: $tablet-width) {
      padding-bottom: 26px;
    }
  }

  &--color {
    padding-bottom: 7px;

    & .container {
      @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 260px 239px;
      }
    }

    @media (min-width: $tablet-width) {
      background-color: #f1f1f1;
      padding-top: 50px;
      padding-bottom: 29px;
    }

    // @media (min-width: $desktop-width) {
    //   grid-template-columns: repeat(3, auto);
    // }
  }

  &--full-name {
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
      padding-bottom: 26px;
    }
  }

  &--phone {
    padding-bottom: 8px;

    @media (min-width: $tablet-width) {
      background-color: #f1f1f1;
      padding-top: 50px;
      padding-bottom: 0;
    }
  }

  &--email {
    padding-bottom: 11px;

    @media (min-width: $tablet-width) {
      background-color: #f1f1f1;
      padding-bottom: 26px;
    }
  }

  &--addition {
    @media (min-width: $tablet-width) {
      padding-top: 50px;
      padding-bottom: 29px;
    }
  }

  & .container {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-left: 217px;
    }
  }
}

.order-form__group-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $font-color-alternative;
  text-transform: uppercase;
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 20px;
    left: 50px;
  }

  &--type {
    margin-bottom: 32px;
  }

  &--color {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      top: 17px;
    }
  }

  &--full-name {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      top: 18px;
    }
  }

  &--phone {
    margin-bottom: 4px;

    @media (min-width: $tablet-width) {
      top: 16px;
    }
  }

  &--email {
    margin-bottom: 4px;

    &::after {
      width: 182px;
    }

    @media (min-width: $tablet-width) {
      top: 16px;
    }
  }

  &--addition {
    margin-bottom: 22px;
  }
}

.order-form__group-wrapper {
  margin: 0;

  &--type {
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &--color {
    margin-bottom: 23px;
  }
}

.order-form__label {
  display: flex;
  align-items: center;
  padding-left: 60px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $font-color-dark;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 79px;
    font-size: 19px;
  }

  &--radio {
    min-height: 42px;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 2px solid $bg-color-dark;

      @media (min-width: $tablet-width) {
        width: 50px;
        height: 50px;
        left: 1px;
        top: 2px;
      }
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 17px;
      height: 17px;
      top: 11px;
      left: 12px;
      border-radius: 50%;
      background-color: #62d1ba;

      @media (min-width: $tablet-width) {
        width: 22px;
        height: 22px;
        top: 15px;
        left: 16px;
      }
    }

    &:hover {
      &::before {
        border: 2px solid #62d1ba;
      }
    }

    @media (min-width: $tablet-width) {
      min-height: 52px;
    }
  }

  &--checkbox {
    min-height: 38px;

    &::before {
      position: absolute;
      content: "";
      width: 37px;
      height: 37px;
      top: 0;
      left: 0;
      border: 2px solid $bg-color-dark;

      @media (min-width: $tablet-width) {
        width: 52px;
        height: 52px;
      }
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 23px;
      height: 16px;
      top: 10px;
      left: 8px;
      background-image: url("../../img/svg/tick.svg");

      @media (min-width: $tablet-width) {
        width: 32px;
        height: 22px;
        top: 15px;
        left: 8px;
        background-image: url("../../img/svg/tick-tablet.svg");
      }
    }

    &:hover {
      &::before {
        border: 2px solid #62d1ba;
      }
    }

    @media (min-width: $tablet-width) {
      min-height: 52px;
    }
  }

  &--full-name {
    padding-left: 0;
  }

}

.order-form__input-radio {
  &[type=radio]:checked+.order-form__label--radio {
    &::after {
      display: block;
    }
  }

  &[type=radio]:focus+.order-form__label--radio {
    &::before {
      border: 2px solid #62d1ba;
    }
  }

  &[type=radio]:active+.order-form__label--radio {
    &::before {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.order-form__input-checkbox {
  &[type=checkbox]:checked+.order-form__label--checkbox {
    &::after {
      display: block;
    }
  }

  &[type=checkbox]:focus+.order-form__label--checkbox {
    &::before {
      border: 2px solid #62d1ba;
    }
  }

  &[type=checkbox]:active+.order-form__label--checkbox {
    &::before {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }
  }
}

.order-form__inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 22px;
  position: relative;

  &--addition {
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}

.order-form__input-text {
  min-height: 52px;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  padding: 0;
  padding-right: 10px;
  font-size: 17px;
  line-height: 18px;
  color: $font-color-main;
  background-color: transparent;

  &::placeholder {
    font-size: inherit;
    line-height: inherit;
    color: rgba($font-color-dark, 0.3);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 #62d1ba;
    background: rgba(0, 0, 0, 0.0001);

    &+svg {
      color: #62D1BA;
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: inset 0 -2px 0 #62d1ba;
    background: rgba(0, 0, 0, 0.0001);

    &+svg {
      color: #62D1BA;
      opacity: 1;
    }
  }

  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;

    &+svg {
      color: #62D1BA;
      opacity: 1;
    }
  }

  &--first-name {
    @media (min-width: $tablet-width) {
      width: 428px;
    }

  }

  &--last-name {
    @media (min-width: $tablet-width) {
      width: 375px;
    }

  }

  &--middle-name {
    @media (min-width: $tablet-width) {
      width: 375px;
    }

  }

  &--message {
    width: 100%;
    min-height: 142px;
    padding: 16px;
    border: 2px solid $bg-color-dark;
    box-shadow: none;
    resize: none;

    &:focus {
      border: 2px solid #62D1BA;
      box-shadow: none;
    }

    &:hover {
      border: 2px solid #62D1BA;
      box-shadow: none;
    }

    &:active {
      border: 2px solid #62D1BA;
      box-shadow: none;
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      width: 100%;
    }

  }

  &--email {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 16px;
    font-size: 19px;
  }
}

.order-form__input-icon {
  position: absolute;
  opacity: 0.2;

  &--phone {
    top: 11px;
    right: 7px;
    width: 25px;
    height: 24px;

    @media (min-width: $tablet-width) {
      right: 27px;
    }
  }

  &--email {
    top: 16px;
    right: 3px;
    width: 32px;
    height: 21px;

    @media (min-width: $tablet-width) {
      right: 23px;
    }
  }
}

.order-form__wrapper {
  margin: 0;

  & .container {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.order-form__note {
  display: inline-block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 11px;
  }
}

.order-form__btn {
  width: 260px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 15px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    line-height: 16px;
    width: 230px;
  }
}
