.order__inner {
  padding-top: 17px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
  }
}

.order__text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 13px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    width: 702px;
    margin-bottom: 61px;
  }
}
