.page__footer {}

.page-footer {
  padding-top: 28px;
  padding-bottom: 23px;
  background-color: #f1f1f1;
}

.page-footer__social {}

.social {}

.visually-hidden {}

.social__list {}

.social__item {}

.social__link {}

.page-footer__copyright {}

.copyright {}

.copyright__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.copyright__link {}
