.page-footer {
  padding-top: 28px;
  padding-bottom: 23px;
  background-color: $bg-color-light;

  @media (min-width: $tablet-width) {
    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__img {
  width: 102px;
  height: 34px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
