.page-header {
  box-shadow: 0 1px 0 0 #ececec inset, 0 -1px 0 0 #ececec inset;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    background-color: #fafafa;
  }

  &--catalog,
  &--order {
    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.page-header__bar {
  background-color: $bg-color;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    min-height: 88px;
    box-shadow: 0 -1px 0 0 #ececec inset;
  }
}

.page-header .container {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 0;
    padding-top: 9px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.page-header__logo {
  display: block;
  position: relative;
  z-index: 3;
  width: 86px;
  height: 35px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
    margin-left: 0;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }

  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__img {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}
