.popular {
  position: relative;

  &::after {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
      background-image: url("../../img/svg/zigzag-fill-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      height: 34px;
      background-image: url("../../img/svg/zigzag-fill-desktop.svg");
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 16px;
  }
}

.popular .container {
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 50px;
  }
}

.popular__item {
  position: relative;
  min-height: 103px;

  &--interior {
    background-color: $bg-color-alternetive;
  }

  &--toys {
    background-color: #56c3b2;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    min-height: 119px;
  }
}

.popular__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.popular__link {
  display: block;
  width: 100%;
  min-height: 103px;
  text-decoration: none;

  &:focus {
    outline: none;
    min-height: 108px;
    margin-top: -5px;
  }

  &:hover {
    min-height: 108px;
    margin-top: -5px;
  }

  &:active {
    opacity: 0.3;
  }

  &--interior {
    background-color: $bg-color-alternetive;

    & .popular__link-inner::after {
      width: 40px;
      height: 62px;
      top: 23px;
      right: 6px;
      background-image: url("../../img/svg/interior.svg");

      @media (min-width: $tablet-width) {
        top: 30px;
        right: 37px;
      }
    }
  }

  &--toys {
    background-color: #56c3b2;

    & .popular__link-inner::after {
      width: 60px;
      height: 60px;
      top: 21px;
      transform: translateX(3px);
      background-image: url("../../img/svg/toy.svg");

      @media (min-width: $tablet-width) {
        top: 31px;
        right: 35px;
        transform: translateX(0);
      }
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 119px;

    &:focus {
      outline: none;
      min-height: 124px;
    }

    &:hover {
      min-height: 124px;
    }
  }
}

.popular__link-inner {
  display: block;
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 20px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 25px;
    padding-left: 36px;
  }
}

.popular__link-text {
  display: inline-block;
  width: 130px;
  font-weight: 700;
  font-size: 19px;
  color: $font-color-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
