.popular {}

.popular__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.popular__item {}

.popular__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 31px;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
  color: #ffffff;
  background-color: #63d1bb;

  &--current {
    background-color: #56c3b2;
  }
}
