.reviews {
  padding-top: 30px;
  padding-bottom: 59px;
  position: relative;
  background-image: url("../../img/reviews-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  & svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 9px;
    width: 100%;
    color: #f1f1f1;
    z-index: 3;

    @media (min-width: $tablet-width) {
      height: 24px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 79px;
    padding-bottom: 147px;
  }
}

.reviews .container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.reviews__title {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }
}

.reviews__list {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__link {
  width: 260px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    top: 1px;
    width: 175px;
  }
}
