.reviews {
  position: relative;

  & svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 9px;
    width: 100%;
    color: #f1f1f1;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 59px;

    @media (min-width: $tablet-width) {
      position: relative;
      padding-top: 83px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 225px;
    }
  }
}

.reviews__title {
  margin-bottom: 15px;
}

.reviews__list {
  margin-bottom: 5px;
}

.reviews__link {
  width: 260px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 79px;
  }
}
