.reviews {
  padding-top: 30px;
  padding-bottom: 51px;
  position: relative;
  background-color: $bg-color;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-image: url("../../img/svg/zigzag-line-mobile.svg");

    @media (min-width: $tablet-width) {
      height: 17px;
      background-image: url("../../img/svg/zigzag-line-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      width: auto;
      left: 50px;
      right: 50px;
      height: 23px;
      background-image: url("../../img/svg/zigzag-line-desktop.svg");
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 79px;
    padding-bottom: 132px;
    background-image: url("../../img/bg-review-tablet@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-size: 350px auto;
      background-image: url("../../img/bg-review-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 188px;
    background-position: 50px 0;
    background-image: url("../../img/bg-review-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-review-desktop@2x.jpg");
    }
  }
}

.reviews .container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-top: 0;
  }
}

.reviews__title {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    max-width: 460px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.reviews__list {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__link {
  width: 260px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    top: 1px;
    width: 175px;
    font-size: 17px;
  }
}
