.reviews {
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      position: relative;
      padding-top: 83px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 225px;
    }
  }
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__list {
  margin-bottom: 5px;
}

.reviews__link {
  width: 260px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 79px;
  }
}
