.site-list__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }

}

.site-list__link {
  // display: block;
  min-height: 79px;
  display: flex;
  align-items: center;
  padding-left: 76px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    min-height: auto;
    padding-left: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    min-height: 88px;
    padding: 0;
    border-right: 1px solid #ececec;
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      padding-right: 35px;
    }
  }

  &--form {
    @media (min-width: $desktop-width) {
      padding-left: 35px;
      border-right: none;
    }
  }
}
