// .social {}

.social__list {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-top: 2px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }
}

.social__item {
  margin-right: 30px;

  &--vk {
    margin-right: 31px;
    transform: translateX(3px);
  }

  &--youtube {
    margin-right: 33px;
    transform: translate(3px, -1px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  color: #231f20;

  &:focus {
    outline: none;
    color: #46c1ae;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(#46c1ae, 0.3);
  }
}
