// .social {}

.social__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social__item {
  min-width: 10px;
  min-height: 10px;
  background-color: #000000;
  margin-right: 29px;
}

//
// .social__link {}
