.user-quote {
  margin: 0;
  padding: 0;
}

.user-quote__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 31px;
}

.user-quote__author {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.user-quote__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $font-color-dark;
}

.user-quote__author-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: $font-color-main;
  text-decoration: none;

  &:focus {
    color: #46C1AE;
    outline: none;
  }

  &:hover {
    color: #46C1AE;
  }

  &:active {
    color: #62D1BA;
  }
}
