.user-list__link {
  min-height: 79px;
  position: relative;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding-left: 76px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &--search {
    & svg {
      position: absolute;
      top: 32px;
      left: 32px;

      @media (min-width: $tablet-width) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .user-list__link-text {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      width: 82px;
      border-left: 1px solid #ececec;
    }
  }

  &--cart {
    & svg {
      position: absolute;
      top: 31px;
      left: 30px;

      @media (min-width: $tablet-width) {
        top: 50%;
        left: 29px;
        transform: translateY(-50%);
      }
    }

    @media (min-width: $tablet-width) {
      padding-right: 0;
      padding-left: 82px;
      border-left: 1px solid #ececec;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 88px;
    box-shadow: none;
  }
}
