.user-list__item {
  &--search {
    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      flex-grow: 1;
    }
  }
}

.user-list__link {
  position: relative;
  font-size: 17px;
  display: block;
  min-height: 79px;
  display: flex;
  align-items: center;
  padding-left: 76px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  &--search {

    & svg {
      position: absolute;
      top: 32px;
      left: 32px;

      @media (min-width: $tablet-width) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .user-list__link-text {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      width: 82px;
      min-height: 88px;
      border-left: 1px solid #ececec;
    }
  }

  &--cart {

    .user-list__link-text {
      @media (min-width: $tablet-width) {}
    }

    & svg {
      position: absolute;
      top: 31px;
      left: 30px;

      @media (min-width: $tablet-width) {
        top: 50%;
        left: 29px;
        transform: translateY(-50%);
      }
    }

    @media (min-width: $tablet-width) {
      padding-right: 0;
      padding-left: 82px;
      min-height: 88px;
      border-left: 1px solid #ececec;
    }
  }
}
