*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "opensans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: $font-color-main;
  background-color: $bg-color-light;
}

main {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
