*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "opensans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: $font-color-main;
  background-color: $bg-color;
}

main {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  color: $font-color-dark;
}

.interactive {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid $bg-color-dark;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $font-color-main;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;

  &:focus {
    color: $font-color-light;
    background-color: $bg-color-dark;
    outline: none;
  }

  &:hover {
    color: $font-color-light;
    background-color: $bg-color-dark;
  }

  &:active {
    color: rgba($font-color-light, 0.3);
    background-color: $bg-color-dark;
  }
}

.container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  // outline: 1px solid red;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 50px;
  }
}
