$dark-color: #000000;
$bg-color: #ffffff;
$bg-color-light: #f1f1f1;
$bg-color-alternetive: #63d1bb;
$font-color-main: #444444;
$font-color-dark: #000000;
$font-color-light: #ffffff;
$font-color-alternative: #63d1bb;
